@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300;400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --boom: #C2CFEE;
}
@font-face {
    font-family: "p1";
    src: url(fonts/ProductSans-Black.ttf);
}
@font-face {
    font-family: "p2";
    src: url(fonts/ProductSans-BlackItalic.ttf);
}
@font-face {
    font-family:"p3" ;
    src: url(fonts/ProductSans-Bold.ttf);
}
@font-face {
    font-family:"p4" ;
    src: url(fonts/ProductSans-BoldItalic.ttf);
}
@font-face {
    font-family:"p5" ;
    src: url(fonts/ProductSans-Italic.ttf);
}
@font-face {
    font-family:"p6" ;
    src: url(fonts/ProductSans-Light.ttf);
}
@font-face {
    font-family:"p7" ;
    src: url(fonts/ProductSans-LightItalic.ttf);
}
@font-face {
    font-family:"p8" ;
    src: url(fonts/ProductSans-Medium.ttf);
}
@font-face {
    font-family:"p9" ;
    src: url(fonts/ProductSans-MediumItalic.ttf);
}
@font-face {
    font-family:"p10" ;
    src: url(fonts/ProductSans-Regular.ttf);
}
@font-face {
    font-family:"p11" ;
    src: url(fonts/ProductSans-Thin.ttf);
}
@font-face {
    font-family:"p12" ;
    src: url(fonts/ProductSans-ThinItalic.ttf);
}
*{
    z-index: 0;
    background-color: #121212;
    margin: 0;
    padding: 0;
}
.logo{
    user-select: none;
    width: 100px;
    height: 50px;
    margin-left: 30px;
}
.header {
    background-color: #121212;
    position: fixed; /* Ensure the parent container stays in place */
    top: 0; /* Stick to the top of the viewport */
    width: 100%; /* Occupy the entire width of the viewport */
    z-index: 1000; /* Set a high z-index to ensure it's above other elements */
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--boom);
    height: 76px;
    position: sticky;
    top: 0; /* Ensure the navigation bar sticks to the top */
    z-index: 1000; /* Set a higher z-index to ensure it's above other elements */
    width: 100%; /* Ensure the navigation bar spans the entire width */
}

li{
    display: inline;
    margin: 40px;
}
.Bomb{
    margin-top: 90px;
    width: 450px;
    height: 450px;
    border: 0.1px solid rgb(90, 85, 85);
  padding: 10px;
}
.bum{
    display: flex;
    justify-content: space-around;
}
.lala{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 100px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 10px;
}
.pariatur{
    color: white;
    font-size: 2em;
    font-family: "p2" ;
    margin-top: 30px;
    margin-left: 215px;
}
.pfp{
    
    width: 75px;
    height: 75px;
    clip-path: circle(50% at 50% 50%);
     margin-top: 18px;
     margin-right: 20px;
     transition: ease-in-out 0.6s;
}
.pfp:hover{
    transform: scale(2,2);
}
footer{
    border-top: 2px solid black;
}

.aa{
    position: relative;
    color: var(--boom);
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.aa:hover{
    color: #FFDB58;
}
.aa::after{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: #FFDB58;
    transform: scale(0,1);
    transition: ease-in-out 0.3s;
    transform-origin: right;
    
}
.aa:hover::after{
    
    transform: scale(1,1);
    transform-origin: right;
}
#naughty{
padding: 20px;
    background-color: teal;
    font-family: "p8";
    font-size: 1.5em;
}
#naughty1{
    padding: 20px;
    background-color: #FFDB58;
    font-family: "p8";
    font-size: 1.5em;
}
section::selection{
    background-color: pink;
}
h1{
    margin-left: 500px;
    color: white;
    font-family: "p6";
    font-size: 2.3em;
    padding-bottom: 10px;
}
.poop{
    color: white;
    font-family: p6;
    margin-left: 300px;
    margin-right: 300px;
}
.ii{
    margin-left: 525px;
}
i{
    margin: 7px;
}